export OPENAI_BASE_URL="xxxx"
export LLM_API_KEY="sk-xxx"
export LLM_MODEL="xxx"

export FEISHU_BASE_URL="https://open.feishu.cn"
export FEISHU_APP_ID="cli_xxx"
export FEISHU_APP_SECRET="xxx"
export FEISHU_VERIFY_TOKEN="xxx"